{% extends "Base.html" %}
{% block content %}

<main>
  <ul id="page-link">
    <li><a href="#area-1">概要</a></li>
    <li><a href="#area-2">使い方</a></li>
    <li><a href="#area-3">アップロード</a></li>
  </ul>
<div class="area" id="area-1">
  <div class="row justify-content-center">
    <div class="card" style="width: 32rem;">
      <div class="card-body">
        <h5 class="card-title text-center">概要</h5>
        <p class="card-text text-center">
          <br>tensorflow-lite及びkerasを利用して作成したtflite形式のモデルを用いて、
          <br>アップロードされた画像から8種類のきのこを判別します。
          <br>8種のうち4種類は、食用と間違われやすい毒キノコが入っています。見つけた場合は取扱に注意しましょう。
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row justify-content-center">
      <div class="card" style="width: 48rem;">
        <div class="card-body">
          <h5 class="card-title text-center">8種類の内訳</h5>
        </div>

    <br>
    <div class="row justify-content-center"> 
      {% for i in range(4) %}
      <div class="card" style="width: 12rem;">
        <img src="../static/img/{{i}}.png" class="card-img-top" height="150px" width="100px">
        <div class="card-body">
        <p class="card text-center">{{label[i]}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    <div class="row justify-content-center">
      {% for i in range(4,8) %}
      <div class="card" style="width: 12rem;">
        <img src="../static/img/{{i}}.png" class="card-img-top" height="150px" width="100px">
        <div class="card-body">
        <p class="card text-center">{{label[i]}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<br><br><br>
<div class="area" id="area-2">
<div class="row justify-content-center">
  <div class="card" style="width: 32rem;">
    <div class="card-body">
      <h5 class="card-title text-center">使い方</h5>
      <p class="card-text text-center">
        ページ下部のフォームから画像をアップロードしてください。<br>
        判別結果が返されます。
    </div>
  </div>
</div>
</div>
<br><br><br>
<div class="area" id="area-3">
  <div class="container">
    <div class="row justify-content-center">
      <img id="preview" width="500px" height="500px" src="../static/img/noimage.jpg">
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <form action="" method="post" enctype="multipart/form-data" id="uploadform">
        <input type="file" name="upload_image" accept="image/png, image/jpeg, image/jpg"required>
        <button class="btn btn-outline-primary" type="submit" id="upload_button">送信</button>
      </form>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <img id="result_img">
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <p id="title" class="text-center"></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">
    Tweet
      <img id="result_img" alt="">
    </a>
  </div>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</main>

{% endblock %}
